.subscribe_container {
  background: #fcfcfc;
}
.subscribe_input_area {
  form {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .subscribe_illustration_area {
    margin-bottom: 50px;
  }
  .subscribe_input_area {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}
