.HowItWork_heading {
  text-align: center;
  h1 {
    font-weight: bold;
  }
  p {
    padding-top: 30px;
    width: 66%;
    margin: auto;
  }
}
@media (max-width: 1400px) {
  .HowItWork_heading p {
    font-size: 16px;
    line-height: 26px;
  }
}
.HowItWork_card {
  text-align: center;
  padding-top: 50px;
  h4 {
    font-weight: bold;
    padding-top: 20px;
    span {
      font-size: 2rem;
      color: #787878;
    }
  }
}
