.aboutUsFeatures_card {
  box-shadow: -1px 15px 26px -4px rgb(161 151 151 / 15%);
  padding: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 20px;
  transition: all ease-out 0.3s;
  h4 {
    font-weight: bold;
    padding: 20px 0px;
  }
  &:hover {
    background-color: var(--primaryGreen);
  }
  &:hover h4 {
    color: #fff;
  }
  &:hover p {
    color: #fff;
  }
}
