.navbar_main_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 1px 4px rgb(0 0 0 / 6%);
  z-index: 999;
  background-color: #fff;
}
.navbar {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 7px 0px;
}
.navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  li {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
    color: #000;
    transition: all ease 0.2s;
    &:hover {
      color: var(--primaryOrange);
    }
  }
}
// Nav Cart component
.nav_cart_container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.cart {
  font-size: 1.2rem;
  background-color: white;
  color: var(--primaryOrange);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

// mobile nav
.mobileNav_container {
  background-color: var(--primaryOrange);
  padding: 10px 0px;
  // margin-bottom: 20px;
  box-shadow: -1px 15px 26px -4px rgb(161 151 151 / 15%);
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  z-index: 999;
}
.mobileNav_inner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    border-radius: 10px;
  }
}
.mobileNav_icon {
  font-size: 2rem;
  color: var(--primaryGreen);
}
.mobileNav_close_icon {
  font-size: 2rem;
  color: red;
}
.mobileNav_menu_item_icon {
  font-size: 1.5rem;
  line-height: 10px;
  color: gray;
}
